<!DOCTYPE html>
<html>
  <head>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <p>着手！</p>
    <p>ブランチ<a href="http://github.com/<%= username %>/<%= reponame %>/tree/<%= branchname %>">'<%= username %>/<%= reponame %>/tree/<%= branchname %>'</a>が作成されました。</p>
    <a href="/<%= orgname %>/<%= reponame %>/kanban/">カンバン一覧へ</a>
  </body>
</html>
