<% include header %>

<h2><%= title %></h2>

  <% for(var i = 0; i < kanbans.length; i++) {%>
    <div class="kanbanUser">
      <h3><%= kanbans[i].username %></h3>
      <ul>
      <% if (kanbans[i].issues.length) {%>
          <% for (var j = 0; j < kanbans[i].issues.length; j++) {%>
            <li><a href="http://github.com/<%= kanbans[i].orgname %>/<%= kanbans[i].reponame %>/issues/<%= kanbans[i].issues[j].issueId %>">着手中PBL: <%= kanbans[i].issues[j].issueId %></a></li>
            <li><a href="#">Task Title</a></li>
          <% } %>
      </ul>
      <% } else {%>
      <p class="noTask">未着手</p>
      <% } %>
    </div>
  <% } %>

<% include footer %>
