<% include header %>

<script>
var currentUser = '<%= user%>';
var currentProject = '<%= project%>';
</script>

<h2><%= title %></h2>

<div id="newIssue" class="well well-small">
  <h3 class="heading">新規PBL作成</h3>
  <form action="" method="post">
    <fieldset>
      <div class="titleWr">
	<input type="text" class="title" placeholder="Title">
	<div id="assign" class="btn-group">
	  <button class="btn dropdown-toggle" data-toggle="dropdown"><span class="name">Assign</span> <span class="caret"></span></button>
	  <ul class="dropdown-menu">
	    <li>
	      <a href="#"><label>
		  <input type="radio" name="asignee" value="akiomik">akiomik
	      </label></a>
	    </li>
	    <li>
	      <a href="#"><label>
		  <input type="radio" name="asignee" value="hiraya">hiraya
	      </label></a>
	    </li>
	    <li>
	      <a href="#"><label>
		  <input type="radio" name="asignee" value="john-smith">john-smith
	      </label></a>
	    </li>
	    <li>
	      <a href="#"><label>
		  <input type="radio" name="asignee" value="nakaji-dayo">nakaji-dayo
	      </label></a>
	    </li>
	    <li class="divider"></li>
	    <li class="cancel">
	      <a href="#">cancel</a>
	    </li>
	  </ul>
	</div>
      </div>
      <textarea name="comment" id="issueComment" rows="3" placeholder="Comment here" class="input-block-level"></textarea>
      <div class="formSubmit">
	<button type="submit" class="btn btn-primary">Create New PBL</button>
      </div>
    </fieldset>
  </form>
</div>

<div id="issueList">
  <table id="issueTable" class="table table-bordered table-hover">
    <thead>
      <tr>
	<th class="span1 priority active">Priority</th>
	<th>id</th>
	<th class="span7">Title</th>
	<th class="span1">Point</th>
	<th class="span3">Assign</th>
      </tr>
    </thead>
    <tbody id="sortable">
      <% issues.forEach(function(issue) { %>
      <tr>
	<td class="priority">1:<%= issue.priority  %></td>
	<td><%= issue.number %></td>
	<td class="issueTitle"><%= issue.title %></td>
	<td class="point">
	  <select name="point" id="issuePoint" class="pointClass" data-pbl="<%=issue.number %>">
	    <% 
	       var points = ['1','2','3','5','8','13','20','?'];
	       points.forEach(function (p) {
	     %>
	    <option value="<%=p%>" <%= p==issue.point? 'selected':''%>><%=p%></option>
	    <%
	       });
	     %>
	  </select>
	</td>
	<td class="assignee">
	  <% if (issue.assignee) { %>
	  <img src="<%= issue.assignee.avatar_url %>">
	  <span><%= issue.assignee.login %></span>
	  <% } else { %>
	  <img src="dummy.png">
	  <span>not assigned</span>
	  <% } %>
	</td>
      </tr>
      <% }); %>
    </tbody>
  </table>
</div>

<% include footer %>
